<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form role="form">
            <div class="box-body">

                <div class="form-group">
                    <label for="fileInput">File input</label>
                    <input type="file" id="fileInput"  accept=".txt">

                    <p class="help-block">select file to break it in chunks</p>
                </div>
                <div class="checkbox" style="margin-left: 20px;">
                        <label>
                            <input ng-model="fileUploadController.text_shuffling" type="checkbox">
                            Text Shuffling
                        </label>
                </div>
                <div class="form-group">

                    <label for="noOfChunks">No. of chunks</label>
                    <input type="number" ng-model="fileUploadController.no_of_chunks" class="form-control" id="noOfChunks" placeholder="No. of chunks">
                </div>


            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" ng-click="fileUploadController.uploadFile()" class="btn btn-primary">Split</button>
            </div>

        </form>
    </div>
    <div class="col-sm-2"></div>

</div>